body {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  /* margin: 3%; */
  /* color:white; */
  /* background-color: darkgrey; */
}


.about{
  display: flex;
  justify-content: space-around;
  height: 70vh;
}

.left {
  width: 40vw;
}

.right {
  width: 55vw;
}


.image-body {
  height: 40vh;
  width: auto;
  margin: 3vh 0;
  display: flex;
}


.icons {
    text-align: center;
}